body {
    background-color: white;
}
h1 {
  text-align: center;
}
.header {
  text-align: center;
  padding-top: 50px;
}
.img-circle {
    border-radius: 50%;
}
.nav-tabs {
  font-size: 20px;
}


.columns {
  padding-top: 30px;
  width: 300px;
  float: left;
}
.layout {
  padding-top: 10px;
  float: left;
}
.bio {

}
@media screen and (max-width: 700px) {
  body {
    background: black;
    color: #FFF;
  }
}
@media screen and (max-width: 400px) {
  body {
    background: blue;
    color: white;
  }
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
.box {
  padding-top: 50px;
}
.row {
  padding-top: 20px;
}
.thumbnail {
  text-align: center;
}
p.text {
  font-size: 45px;
}
.container {
  padding-top: 20px;

}

ul.stats {
  font-size: 25px;
}
